button {
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  position: relative;
  z-index: 100;
  padding: 15px;
  border-radius: 25px;
  color: #fff;
  font-family: 'roboto', sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 8px 2px #D5D5D5;
          box-shadow: 0px 5px 8px 2px #D5D5D5;
}

button:before {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  -webkit-transition: all 2000ms;
  transition: all 2000ms;
  border-radius: 25px;
}

button:hover:before {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 2px #979797;
          box-shadow: 0px 0px 10px 2px #979797;
}

.fa-heart {
  -webkit-transition: all 2000ms;
  transition: all 2000ms;
}

.fa-heart:hover {
  color: #FF79DA;
  cursor: pointer;
  content: "\f004";
}

body {
  color: #353535;
  font-family: roboto, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "shrikhand", sans-serif;
}

a {
  text-decoration: none;
  color: #353535;
}

header img {
  display: block;
  margin: 22px auto auto auto;
  width: 50%;
}

.localisation {
  background-color: #F6F6F6;
  margin-top: 10px;
  text-align: center;
  margin-right: -8px;
  margin-left: -8px;
}

.localisation__recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#EAEAEA), color-stop(90%, #EAEAEA), to(#CFCFCF));
  background-image: linear-gradient(0deg, #EAEAEA, #EAEAEA 90%, #CFCFCF);
  padding: 15px;
}

.localisation__recherche div:nth-child(1) {
  width: 27%;
  text-align: right;
  margin-right: 25px;
}

.localisation__recherche div:nth-child(2) {
  font-weight: 500;
}

.localisation--titre {
  font-weight: 900;
  font-size: 24px;
  padding-top: 38px;
  padding-bottom: 15px;
}

.localisation--argument {
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 18px;
}

.localisation--explorer {
  font-size: 16px;
  font-weight: 400;
}

.localisation button {
  margin-bottom: 58px;
}

.fonctionnement {
  padding: 15px 10px;
  margin: 0px 10px;
}

.fonctionnement__titre {
  font-weight: 900;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 800;
}

.fonctionnement__liste {
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 10px 3px #EAEAEA;
          box-shadow: 0px 3px 10px 3px #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F6F6F6;
  margin-bottom: 23px;
  margin-top: 30px;
  padding: 24px;
  font-weight: 600;
}

.fonctionnement__liste div:nth-child(2) {
  width: 20%;
}

.fonctionnement__liste:hover {
  background-color: #f2eafb;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.fonctionnement__liste:hover i {
  color: #9356DC;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.fonctionnement__liste i {
  color: #7E7E7E;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.fonctionnement--numero {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 7px 9px 4px 9px;
  position: absolute;
  left: 13px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 15px 10px;
  margin-right: -8px;
  margin-left: -8px;
}

.restaurants__titre {
  font-weight: 900;
  font-size: 24px;
  margin-left: 20px;
  margin-top: 55px;
}

.restaurants__carte {
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 10px 3px #EAEAEA;
          box-shadow: 0px 3px 10px 3px #EAEAEA;
  margin: 0px 10px;
  margin-bottom: 18px;
}

.restaurants--vignette {
  background-size: cover;
  background-position: center center;
  height: 170px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: right;
  padding-top: 25px;
}

.restaurants--nouveau {
  background-color: #99E2D0;
  padding: 5px;
  text-align: right;
  margin-right: 10px;
  color: #217460;
}

.restaurants--image1 {
  background-image: url("../Maquettes Ohmyfood/images/restaurants/la-palette-du-gout.jpg");
}

.restaurants--image2 {
  background-image: url("../Maquettes Ohmyfood/images/restaurants/la-note-enchantee.jpg");
}

.restaurants--image3 {
  background-image: url("../Maquettes Ohmyfood/images/restaurants/a-la-francaise.jpg");
}

.restaurants--image4 {
  background-image: url("../Maquettes Ohmyfood/images/restaurants/le-delice-des-sens.jpg");
}

.restaurants--legende {
  background-color: #fff;
  height: 55px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 20px 12px 12px;
}

.restaurants--legende i {
  font-size: 30px;
}

.restaurants--titre-legende {
  font-weight: bold;
}

.restaurants--sstitre {
  font-weight: 500;
  padding-top: 6px;
}

.retour-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 10px 5px 10px;
}

.retour-menu a {
  width: 30%;
  font-size: 22px;
}

.retour-menu__logo {
  background-image: url("../Maquettes Ohmyfood/images/logo/ohmyfood.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 40%;
}

.banniere-menu {
  height: 270px;
}

.banniere-menu__image1, .banniere-menu__image2, .banniere-menu__image3, .banniere-menu__image4 {
  background-repeat: no-repeat;
  background-position: center center;
  height: 290px;
}

.banniere-menu__image1, .banniere-menu__image3, .banniere-menu__image4 {
  background-size: contain;
}

.banniere-menu__image1 {
  background-image: url("../Maquettes Ohmyfood/images/restaurants/la-palette-du-gout.jpg");
}

.banniere-menu__image2 {
  background-image: url("../Maquettes Ohmyfood/images/restaurants/la-note-enchantee.jpg");
  background-size: cover;
}

.banniere-menu__image3 {
  background-image: url("../Maquettes Ohmyfood/images/restaurants/a-la-francaise.jpg");
}

.banniere-menu__image4 {
  background-image: url("../Maquettes Ohmyfood/images/restaurants/le-delice-des-sens.jpg");
}

.menu-entier {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.menu-entier__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-entier__titre i {
  font-size: 28px;
  margin-top: 22px;
}

.menu-entier__sstitre {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.menu-entier__sstitre:after {
  content: '';
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
  display: block;
}

.menu-entier--legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-entier--bloc {
  padding: 15px;
}

.menu-entier--bouton {
  text-align: center;
}

.prix {
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: #fff;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: -8px;
  margin-bottom: -8px;
  margin-left: -8px;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 8px;
}

footer ul li:nth-child(1):before, footer ul li:nth-child(2):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

footer ul li:nth-child(1):before {
  content: "\f2e7";
  margin-right: 15px;
}

footer ul li:nth-child(2):before {
  content: "\f4c4";
  margin-right: 8px;
}

footer a {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */