#fonctionnement,
#restaurants{
    @include marge-section;
}
#restaurants{
    background-color:$background-block ;
    margin-bottom:0px;
}
.fonctionnement{
    &__plan{
        position:relative;
    }       
    &__liste{
        @include template-cartes;
        display:flex;
        flex-direction:row;
        background-color: $background-block;
        margin-bottom:23px;
        margin-top:30px;
        padding:24px; 
        font-weight:600;
        margin-right:-8px;
        & div:nth-child(2){
            width:20%;
        }

        &:hover{
            background-color:lighten($color: $primary-color, $amount: 35%);
            transition-duration: 1000ms;
        
            i{
                color:$primary-color;
                transition-duration: 1000ms;

            }
        }
        
        i{
            color: #7E7E7E;
            font-size:20px;
            margin-left:10px;
            margin-right:20px;
        }
    }
    &--numero{
        background-color:$primary-color;
        border-radius:100%;
        padding:4px 8px 3px 8px;
        position:absolute;
        left:-11px;
        color:#fff;
        font-weight: 400;
        font-size:16px;
    }
}