.fonctionnement{
    padding:15px 10px;
    @include marge-carte;
    &__titre{
        @include sstitre;
    }
    &__liste{
        @include template-cartes;
        background-color: $background-block;
        margin-bottom:23px;
        padding:30px; 

        &:hover{
            background-color:lighten($color: $primary-color, $amount: 35%);
        
            i{
                color:$primary-color;

            }
        }
        
        i{
            margin-right:30px;
            color: #7E7E7E;
        }
    }
    &--numero{
        background-color:$primary-color;
        border-radius:100%;
        padding:3px 8px;
        position:absolute;
        left:24px;
        color:#fff;
    }
}