@media all and (max-width:380px) {
    .menu-entier__titre h1{
        font-size:20px;
    }
    .fonctionnement__liste{
        font-size:15px;
    }
 
}
@media all and (min-width:600px){
    .localisation__recherche div:nth-child(1){
        width:35.9%;
    }
}
@media all and(min-width:800px){
    .localisation__recherche div:nth-child(1){
        width:40.9%;
    }
}