@media all and (max-width:320px) {
    .menu-entier__titre h1{
        font-size:20px;
    }
    .banniere-menu__image1,
    .banniere-menu__image3{
        height:213px;
    }
    .banniere-menu__image4{
        height:218px;
    }
    .fonctionnement__liste{
        font-size:15px;
    }
 
}