.retour-menu{
    position:relative;
    height:37px;
    a{
        position:absolute;
        font-size:18px;
        @include plein-ecran;
        top:50%;
        left:20px;
    }

    &__logo{
        background-image: url('../Maquettes Ohmyfood/images/logo/ohmyfood.png');
        background-size:contain;
        background-position: center center;
        background-repeat: no-repeat;
        width:45%;
        position:absolute;
        top: 50%;
        height:100%;
        left:27%;
    }
}

.banniere-menu{
    height:232px;
    @include plein-ecran;
    &__image1, &__image2, &__image3, &__image4{
        background-repeat: no-repeat;
        background-position: center center;
        height:290px;
    }
    &__image1, &__image3, &__image4{
        background-size:contain;
    }
    &__image1{
        background-image: url('../Maquettes\ Ohmyfood/images/restaurants/la-palette-du-gout.jpg');
    }
    &__image2{
        background-image: url('../Maquettes\ Ohmyfood/images/restaurants/la-note-enchantee.jpg');
        background-size:cover;
    }
    &__image3{
        background-image: url('../Maquettes\ Ohmyfood/images/restaurants/a-la-francaise.jpg');
    }
    &__image4{
        background-image: url('../Maquettes\ Ohmyfood/images/restaurants/le-delice-des-sens.jpg');
    }

}

.menu-entier{
    @include bord-haut-rond;
    @include plein-ecran;
    padding-right:20px;
    padding-left:20px;
    &__titre{
        display:flex;
        justify-content: space-around;
        i{
            font-size:28px;
            margin-top:22px;
        }
        h1{
            font-size:26px;
            color:#000;
        }
    }
    &__sstitre{
        text-transform: uppercase;
        &:after{
            content:'';
            height:3px;
            width:50px;
            background-color:$tertiary-color;
            display:block;
            margin-top:5px;
        }
    }
    &__liste{
        position:relative;
        margin-top:-12px;
        margin-bottom:50px;
    }
  
   &--bloc{
    display:flex;
    flex-direction:row;
    position:relative;
    @include template-cartes;
    padding:15px;
    margin-top:30px;
    margin-right:-8px;
    margin-bottom:23px;
    background-color:#fff;
    cursor: pointer;
    border-radius:15px;
    
        &:hover .prix{
            right:100%;
            margin-right:10px;
        }
        &:hover i,
        &:active i{
            transform: rotate(360deg);
        }
        &:hover .menu-entier--coche div:nth-child(2),
        &:active .menu-entier--coche div:nth-child(2){
            transform: scaleX(1);
        }
     
   }
   &--texte{
    width:80%;
        div:nth-child(1),
        div:nth-child(2){
            text-overflow: ellipsis;
            overflow:hidden;
            white-space: nowrap;
        }
        div:nth-child(1){
            font-size:18px;
            font-weight:600;
        }
        div:nth-child(2){
            font-size:16.5px;
            font-weight:400;
        }
   }

   &--coche{
    width:20%;
    display:flex;
    flex-direction:row;
    position:absolute;
    text-align:center;
    right:0px;
    top:0;
    bottom:0;
    

        .prix{
            padding-top:35px;
            position:absolute;
            right:15px;
            transition: all 900ms;
        }
       

        div:nth-child(2){
            display:inline-block;
            background-color:$tertiary-color;
            width:100%;
            color:#fff;
            font-size:30px;
            padding-top:15px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            transform:scaleX(0);
            transform-origin: right;
            transition:all 900ms;
        }
        i{
            transform:rotate(0deg);
            transition:all 1000ms;
            
        }
       


   }
    &--bouton{
        text-align:center;
    }
   
}