.retour-menu{
    display:flex;
    flex-direction: row;
    height:40px;
    align-items: center;
    justify-content:center;
    a:nth-child(1){
        position:absolute;
        font-size:18px;
        left:30px;
    }

    &__logo{
        background-image: url('../Maquettes_Ohmyfood/images/logo/ohmyfood.png');
        background-size:contain;
        background-position: center center;
        background-repeat: no-repeat;
        width:45%; 
        height:100%;
    }
}

.banniere-menu{
    @include plein-ecran;
    margin-bottom:-50px;
    &__image1, &__image2, &__image3, &__image4{
        background-repeat: no-repeat;
        background-position: center center;
        height:250px;
        background-size:cover;

    }
    &__image1{
        background-image: url('../Maquettes_Ohmyfood/images/restaurants/la-palette-du-gout.jpg');
    }
    &__image2{
        background-image: url('../Maquettes_Ohmyfood/images/restaurants/la-note-enchantee.jpg');
    }
    &__image3{
        background-image: url('../Maquettes_Ohmyfood/images/restaurants/a-la-francaise.jpg');
    }
    &__image4{
        background-image: url('../Maquettes_Ohmyfood/images/restaurants/le-delice-des-sens.jpg');
    }

}

.menu-entier{
    @include plein-ecran;
    background-color:$background-block;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding:15px 20px;
    &__titre{
        display:flex;
        height:75px;
        align-items: center;
        .like{
            width:20%;
            height:100%;
        }
        i{
            font-size:28px;
            top:33%;
            right:3px;
        }
        h1{
            font-size:26px;
            color:#000;
            width:80%;
        }
    }
    &__sstitre{
        text-transform: uppercase;
        &:after{
            content:'';
            height:3px;
            width:50px;
            background-color:$tertiary-color;
            display:block;
            margin-top:5px;
        }
    }
    &__liste{
        position:relative;
        margin-top:-12px;
        margin-bottom:50px;
        
        
       
    }
  
   &--bloc{
    display:flex;
    flex-direction:row;
    position:relative;
    @include template-cartes;
    padding:15px;
    margin-top:30px;
    margin-right:-8px;
    margin-bottom:23px;
    background-color:#fff;
    cursor: pointer;
    border-radius:15px;
    opacity:0;
    animation-name: apparition-menu;
    animation-duration: 1200ms;
    animation-fill-mode: forwards;
        &:nth-child(1){
            animation-delay: 500ms;
        }
        &:nth-child(2){
            animation-delay: 600ms;
        }
        &:nth-child(3){
            animation-delay: 700ms;
        }
        &:nth-child(4){
            animation-delay: 800ms;
        }
    
        &:hover .prix,
        &:active .prix{
            right:100%;
            margin-right:10px;
        }
        &:hover i,
        &:active i{
            transform: rotate(360deg);
        }
        &:hover .menu-entier--coche div:nth-child(2),
        &:active .menu-entier--coche div:nth-child(2){
            transform: scaleX(1);
        }
        &:hover .menu-entier--texte,
        &:active .menu-entier--texte{
            width:60%;
        }
     
   }
   &--texte{
    width:80%;
        div:nth-child(1),
        div:nth-child(2){
            text-overflow: ellipsis;
            overflow:hidden;
            white-space: nowrap;
        }
        div:nth-child(1){
            font-size:18px;
            font-weight:600;
        }
        div:nth-child(2){
            font-size:16.5px;
            font-weight:400;
        }
   }

   &--coche{
    width:20%;
    display:flex;
    flex-direction:row;
    position:absolute;
    text-align:center;
    right:0px;
    top:0;
    bottom:0;
    

        .prix{
            padding-top:35px;
            position:absolute;
            right:15px;
            transition: all 900ms;
        }
       

        div:nth-child(2){
            display:inline-block;
            background-color:$tertiary-color;
            width:100%;
            color:#fff;
            font-size:30px;
            padding-top:15px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            transform:scaleX(0);
            transform-origin: right;
            transition:all 900ms;
        }
        i{
            transform:rotate(0deg);
            transition:all 1000ms;
            
        }
       


   }
    &--bouton{
        text-align:center;
    }
    &--commander{
        font-size:16px;
        font-weight:400;
        width:130px;
        margin:auto;
        
    }
   
}


@keyframes apparition-menu {
    0% { 
        opacity: 0;
        transform: translate3D(0px, 0px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3D(0px, 5px, 0px);
    
    }
}

