
.localisation{
    background-color: $background-block;
    margin-top:12px;
    text-align: center;
    padding-bottom:30px;
    @include plein-ecran;
    &__recherche{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-image: linear-gradient(0deg, #EAEAEA, #EAEAEA 90%, #CFCFCF);
        padding:15px;    
        & div:nth-child(1){
           width:29.9%;
           text-align: right;
           margin-right:16px;
        }
        & div:nth-child(2){
            font-weight: 500;
        }
    
    }
    &--titre{
        @include sstitre;
        padding-top:38px;
        padding-bottom:15px;
    }
    &--argument{
        padding-bottom:30px;
        font-weight: 300;
        font-size:18px;
    }
    &--explorer{
        font-size:16px;
        font-weight:400;
        color:#fff;
        font-family: 'roboto', sans-serif;
       
    }

   
    
}