
.localisation{
    background-color: $background-block;
    margin-top:10px;
    text-align: center;
    @include plein-ecran;
    &__recherche{
        background-image: linear-gradient(0deg, #EAEAEA, #EAEAEA 90%, #CFCFCF);
        padding:17px;    
    }
    &--titre{
        @include sstitre;
        padding-top:40px;
        padding-bottom:20px;
    }
    &--argument{
        padding-bottom:30px;
        font-weight: 400;
    }
    &--explorer{
        font-size:16px;
    }
    
}