.restaurants{
    background-color: $background-block;
    padding:15px 10px;
    @include plein-ecran;
   
    &__titre{
        @include sstitre;
        margin-left:20px;
        margin-top:40px;
        margin-bottom:25px;

    }

    &__carte{
        @include template-cartes;
        @include marge-carte;
        margin-bottom: 18px;
    }
    &--vignette{
        background-size:cover;
        background-position: center center;
        height:150px;
        @include bord-haut-rond;
        text-align:right;
        padding-top:19px;
    }

    &--nouveau{
        background-color:$tertiary-color;
        padding:5px;
        text-align:right;
        margin-right:10px;
        color:darken($color:$tertiary-color, $amount:45%);
        font-weight:500;
    }


    &--image1{
        background-image: url('../Maquettes Ohmyfood/images/restaurants/la-palette-du-gout.jpg');
        background-position: 50% 95%;
    }
    &--image2{
        background-image: url('../Maquettes Ohmyfood/images/restaurants/la-note-enchantee.jpg');
        background-position: 50% 60%;
    }
    &--image3{
        background-image: url('../Maquettes Ohmyfood/images/restaurants/a-la-francaise.jpg');
        background-position: 50% 100%;
    }
    &--image4{
        background-image: url('../Maquettes Ohmyfood/images/restaurants/le-delice-des-sens.jpg');
    }
    &--legende{
        background-color:#fff;
        height:55px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        padding:12px 20px 12px 12px;

        i{
            font-size:30px;
        }
    }

    &--titre-legende{
        font-weight:bold;
    }
    &--sstitre{
        font-weight:500;
        padding-top:6px;
    }
}