button{
    @include bouton-rose($secondary-color, $primary-color, $color-hover1, $color-hover2, 2000ms);
}

.fa-heart{
    transition: all 2000ms;
    &:hover{    
        color:$secondary-color;
        cursor: pointer;
        content:"\f004";
    }
}



