button{
    @include bouton-rose($secondary-color, $primary-color, $color-hover1, $color-hover2, 2000ms);
}

.like{
    position:relative;
   
        i{
            @include icone-like; 
                &:nth-child(1){
                    background: -webkit-linear-gradient($primary-color, $secondary-color);
                    background-clip:text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity:0;
                    font-weight:600;
                    
                }
                &:nth-child(2){
                    font-weight:300;
                    opacity:1;
                    cursor: pointer;
                    
                }
        }
}


@keyframes coeur-plein {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@-webkit-keyframes coeur-plein {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.like:hover i:nth-child(1){
    animation-name: coeur-plein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-name: coeur-plein;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

  @keyframes coeur-vide {
      0% { opacity: 1 }
      100% { opacity: 0 }
  }

  @-webkit-keyframes coeur-vide {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  
  .like:hover i:nth-child(2){
      animation-name: coeur-vide;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      -webkit-animation-name: coeur-vide;
      -webkit-animation-duration: 3s;
      -webkit-animation-fill-mode: forwards;
  }
 
  .like:active i:nth-child(1) {
      opacity:1;
  }

  .like:active i:nth-child(2) {
      opacity:0;
  }
 