@font-face {
    font-family: "shrikhand"; src: url('../shrikhand/Shrikhand-Regular.ttf'); 
    font-family: "roboto"; src: url('../roboto/Roboto-Regular.ttf');
}


body{
    color:$main-color;
    font-family: roboto, sans-serif;
    
}

h1, h2, h3, h4 {
    
    font-family:'shrikhand', sans-serif;
}

a{
    text-decoration:none;
    color:$main-color;
}

button{
    @include bouton-rose($secondary-color, $primary-color, $color-hover1, $color-hover2, 2000ms);
}