body{
    color:$main-color;
    font-family: $font;
    background-color: $background-body;
}

h1, h2, h3, h4 {
    
    font-family:$title-font;
}

a{
    text-decoration:none;
    color:$main-color;
}

section .titre-section{
    @include sstitre;   
}